<div class="post-outer">
 <div class="gdlr-item gdlr-blog-full ">
  <div class="gdlr-ux gdlr-blog-full-ux">
   <article class="post type-post status-publish format-standard has-post-thumbnail hentry">
    <div class="gdlr-standard-style">
     <div class="blog-date-wrapper gdlr-title-font">
      <i class="icon-calendar-empty"></i>
      <div class="blog-date-day">
       <script type="text/javascript">document.write(date_dd);</script>{{ page.date|date("d") }}
     </div>
     <div class="blog-date-month">
       <script type="text/javascript">document.write(date_mmm);</script>{{ page.date|date("M") }}
     </div>
     <div class="blog-date-year">
       <script type="text/javascript">document.write(date_yyyy);</script>{{ page.date|date("Y") }}
     </div>
   </div>
   <div id="2297314009206748142">
    <div class="blog-content-wrapper">
     <div class="gdlr-blog-thumbnail">
       
       {% if big_header %}
        {{ page.media.images|first.cropResize(900,600).html }}
        {% else %}
        {{ page.media.images|first.cropZoom(900,300).html }}
      {% endif %}



      <div class="gdlr-sticky-banner">{{ page.date|date("G:i") }} {{ page.date|date("A") }}</div>
    </div>
    <div class="blog-content-inner-wrapper">
      <header class="post-header">

       {% if page.header.link %}
        <h3 class="gdlr-blog-title">
          {% if page.header.continue_link is not sameas(false) %}
            <a href="{{ page.url }}"><i class="fa fa-angle-double-right"></i></a>
          {% endif %}
          <a href="{{ page.header.link }}">{{ page.title }}</a>
        </h3>
        {% else %}
        <h3 class="gdlr-blog-title"><a href="{{ page.url }}">{{ page.title }}</a></h3>
      {% endif %}

      <div class="gdlr-blog-info gdlr-title-font gdlr-info">

        {% if page.taxonomy.tag %}
         <div class="blog-info blog-tag"><i class="icon-tags"></i>
          {% for tag in page.taxonomy.tag %}
            <a href="{{ base_url }}/tag:{{ tag }}" rel="tag">{{ tag }}</a>
          {% endfor %}
        </div>
      {% endif %}

      <div class="blog-info blog-author"><i class="icon-user"></i><a href="https://plus.google.com/104219125408123734587" title="Posts by Sora Templates" rel="author">Sora Templates</a></div>
      <span class="gdlr-seperator">/</span>
      <div class="blog-info blog-comments"><i class="icon-comments-alt"></i><a href="{{ page.url(true) }}">0 Comments</a></div>
      <div class="clear"></div>
    </div>
  </header>
  <!-- entry-header -->
  <div class="gdlr-blog-content">
   {% if page.header.continue_link is sameas(false) %}
    <p>{{ page.content }}</p>
    {% if not truncate %}
      {% set show_prev_next = true %}
      {% endif %}
      {% elseif truncate and page.summary != page.content %}
      <p>{{ page.summary }}</p>
      <p><a href="{{ page.url }}" class="more-link"><span class="gdlr-button with-border excerpt-read-more">Read More</span></a></p>
      {% elseif truncate %}
      <p>{{ page.content|truncate(550) }}</p>
      <p><a href="{{ page.url }}" class="more-link"><span class="gdlr-button with-border excerpt-read-more">Read More</span></a></p>
      {% else %}
      <p>{{ page.content }}</p>
      {% set show_prev_next = true %}
      {% endif %}

      {% if show_prev_next %}

        <p class="prev-next">
          {% if not page.isFirst %}
            <a class="button" href="{{ page.nextSibling.url }}"><i class="fa fa-chevron-left"></i> Next Post</a>
          {% endif %}

          {% if not page.isLast %}
            <a class="button" href="{{ page.prevSibling.url }}">Previous Post <i class="fa fa-chevron-right"></i></a>
          {% endif %}
        </p>
      {% endif %}

      <div class="gdlr-social-share">
        <a href="http://digg.com/submit?url={{ page.url(true) }}&amp;title={{ page.title }}" target="_blank"><img src="{{ theme_url }}/images/digg.png" alt="digg-share" width="112" height="112"></a><a href="http://www.facebook.com/share.php?u={{ page.url(true) }}" target="_blank"><img src="{{ theme_url }}/images/facebook.png" alt="facebook-share" width="112" height="112"></a><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ page.url(true) }}&amp;title={{ page.title }}" target="_blank"><img src="{{ theme_url }}/images/linkedin.png" alt="linked-share" width="112" height="112"></a><a href="http://www.tumblr.com/share/link?url={{ page.url(true) }}&amp;name={{ page.title }}" target="_blank"><img src="{{ theme_url }}/images/tumblr.png" alt="tumblr-share" width="112" height="112"></a><a href="http://reddit.com/submit?url={{ page.url(true) }}&amp;title={{ page.title }}" target="_blank"><img src="{{ theme_url }}/images/reddit.png" alt="reddit-share" width="112" height="112"></a><a href="http://www.stumbleupon.com/submit?url={{ page.url(true) }}&amp;title={{ page.title }}" target="_blank"><img src="{{ theme_url }}/images/stumble-upon.png" alt="stumble-upon-share" width="112" height="112"></a><a href="http://twitter.com/home?status={{ page.title }}-{{ page.url(true) }}" target="_blank"><img src="{{ theme_url }}/images/twitter.png" alt="twitter-share" width="112" height="112"></a>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
</div>
<script type="text/javascript">
var post_title="{{ page.title }}",
post_url="{{ page.url(true) }}",
author_name="Sora Templates",
author_url="https://plus.google.com/104219125408123734587",
comment="0",
label="<a href='http://sora-article-soratemplates.blogspot.in/search/label/Fun?max-results=6' rel='tag'>Fun</a>,&nbsp;<a href='http://sora-article-soratemplates.blogspot.in/search/label/World?max-results=6' rel='tag'>World</a>",
time="12:33 AM";
readmore("2297314009206748142");
</script>
<div class="clear"></div>
</div>
</article>
</div>
</div>
</div>