{% if pagination|length > 1 %}
{% if base_url == '' %}
    {% set base_url = '/' %}
{% endif %}
<div class="blog-pager" id="blog-pager">
    <div class="showpageArea">
    {% if pagination.hasPrev %}
        {% set url = (base_url ~ pagination.params ~ pagination.prevUrl)|replace({'//':'/'}) %}
        <span class="showpageNum"><a rel="prev" href="{{ url }}">&laquo;</a></span>
    {% endif %}
    {% for paginate in pagination %}
        {% if paginate.isCurrent %}
            <span class="showpagePoint">{{ paginate.number }}</span>
        {% elseif paginate.isInDelta %}
            {% set url = (base_url ~ pagination.params ~ paginate.url)|replace({'//':'/'}) %}
            <span class="showpageNum"><a href="{{ url }}">{{ paginate.number }}</a></span>
        {% elseif paginate.isDeltaBorder %}
            <span class="showpageNum">&hellip;</span>
        {% endif %}
    {% endfor %}
    {% if pagination.hasNext %}
        {% set url = (base_url ~ pagination.params ~ pagination.nextUrl)|replace({'//':'/'}) %}
        <span class="showpageNum"><a rel="next" href="{{ url }}">&raquo;</a></span>
    {% endif %}
    </div>
</div>
{% endif %}
